<tr>
  <td>#$family_item</td>
  <td><a class="prompt-name" href="/edit?key=$url_key"><code>$prompt_key</code></a></td>
  <td><span class="badge">$category</span></td>
  <td>$status</td>
  <td>$updated_at</td>
  <td>
    <div class="row-actions">
      <a class="button small" href="/edit?key=$url_key">Edit</a>
      <a class="button small secondary" href="/preview?key=$url_key">Preview</a>
      <a class="button small secondary" href="/clone?key=$url_key">Clone as new family item</a>
    </div>
  </td>
</tr>
